*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus{outline:none;}
::-moz-focus-inner{border:0;}
.display-none{display:none;}
body{background-color:#fff;color:#333;font-family:"helvetica neue",helvetica,arial,sans-serif;font-size:14px;line-height:1.3;margin:0;overflow-y:scroll;}
input,select{margin:0;}
table{border-collapse:collapse;border-spacing:0;}
th,td{padding:0;}
a{color:#66c;font-weight:bold;text-decoration:none;}
a:hover{text-decoration:underline;}
.menu{list-style:none;margin:0;padding:0;}
.menu li{float:left;margin-left:18px;}
.menu li:first-child{margin-left:0;}
.menu .menu{display:none;background-color:#fff;border:1px solid #999;border-top:0;box-shadow:0 1px 2px #bbb;position:absolute;right:0;width:160px;z-index:1;}
.menu li:hover .menu{display:block;}
.menu .menu li{float:none;margin-left:0;width:100%;}
.menu .menu li a{width:100%;}
#top-nav{background-color:#448;height:100px;margin-bottom:30px;position:relative;width:100%;}
#top-nav-content{bottom:0;left:50%;position:absolute;width:800px;margin-left:-400px;}
#top-nav-logo{background-image:url("/static/logo.png");background-repeat:no-repeat;bottom:0;display:block;left:0;margin-bottom:10px;position:absolute;width:154px;height:60px;}
#top-nav-links{bottom:0;font-weight:bold;position:absolute;right:0;}
#top-nav-links a{color:#ddd;display:inline-block;padding-bottom:5px;}
#top-nav-links li:hover a{color:#fff;text-decoration:none;}
#top-nav-links .menu li:hover{background-color:#def;}
#top-nav-links li .menu a{color:#333;padding:10px;}
#message,#title,#body{clear:both;margin:0 auto 0;width:800px;}
#message{background-color:#fe7;font-size:17px;margin-bottom:30px;padding:17px;text-align:center;}
#title{font-size:27px;margin-bottom:20px;}
.header{font-weight:bold;margin-top:21px;margin-bottom:14px;}
#bottom-nav-begin{clear:both;}
#bottom-nav{height:56px;margin-top:40px;position:relative;width:100%;}
#bottom-nav-content{border-top:1px solid #bbb;left:50%;padding-top:5px;position:absolute;width:800px;margin-left:-400px;}
#bottom-nav-links{font-weight:bold;left:0;position:absolute;}
#bottom-nav-links a{color:#666;}
#bottom-nav-copyright{color:#999;position:absolute;right:0;}
