/**
 * Copyright 2012 Adam Sadovsky. All rights reserved.
 */

@import "mixins.less";

input, select {
  padding: 0.2em;
}

input {
  font-size: 1.1em;
}

select {
  font-size: 0.9em;
}

.main-button {
  .button(#fe7, #ed3);
  border-radius: 3px;
  margin-top: 0.5em;
  margin-right: 0.3em;
  padding: 0.5em 2em;
}

.main-button-gray {
  .button(#fff, #ddd);
  border-radius: 3px;
  margin-top: 0.5em;
  margin-right: 0.3em;
  padding: 0.5em 2em;
}

table.form {
  width: 100%;
}

.form td {
  padding-left: 0.8em;
  padding-top: 0.9em;
}

.form tr:first-child > td {
  padding-top: 0;
}

.form td:first-child {
  padding-left: 0;
}

.form td.footnote {
  font-size: 0.9em;
  padding-top: 0.4em;

  a {
    font-weight: normal;
  }
}

#cell-copy-email {
  .user-select(none);
}

#signup-copy-email {
  padding-left: 1em;
}

.column-label {
  text-align: right;
  vertical-align: middle;
  width: 11em;
}

.column-input {
  width: 20em;
}

.field {
  border: 1px solid #bbb;
  border-radius: 3px;
  width: 100%;
}

.field:focus {
  border: 1px solid #66c;
}

.field:disabled {
  background-color: #eee;
}

.error-msg {
  color: #f44;
  font-size: 0.9em;
  font-weight: bold;
}
