/**
 * Copyright 2012 Adam Sadovsky. All rights reserved.
 */

@import "mixins.less";

@input-padding-left: 11px;
@input-width: 280px;

input {
  font-size: 15px;
}

.main-button {
  .button(#fe7, #ed3);
  border-radius: 3px;
  margin-top: 8px;
  margin-right: 5px;
  padding: 8px 30px;
}

.main-button-gray {
  .button(#fff, #ddd);
  border-radius: 3px;
  margin-top: 8px;
  margin-right: 5px;
  padding: 8px 30px;
}

table.form {
  width: 100%;
}

.form td {
  padding-left: @input-padding-left;
  padding-top: 13px;
}

.form tr:first-child > td {
  padding-top: 0;
}

.form td:first-child {
  padding-left: 0;
}

.form td.footnote {
  font-size: 13px;
  padding-top: 6px;

  a {
    font-weight: normal;
  }
}

#cell-copy-email {
  .user-select(none);
}

.col-label {
  text-align: right;
  vertical-align: middle;
  width: 154px;
}

.col-input {
  width: @input-width;
}

.field {
  border: 1px solid #bbb;
  padding: 4px;
  width: 100%;
}

.field:not([disabled]):hover {
  .box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.1));
  border: 1px solid #999;
}

.field:not([disabled]):focus {
  .box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.3));
  border: 1px solid #66c;
}

.field:disabled {
  background-color: #eee;
}

.error-msg {
  color: #f44;
  font-size: 13px;
  font-weight: bold;
}
