/**
 * Copyright 2012 Adam Sadovsky. All rights reserved.
 */

@import "mixins.less";

.note-warning {
  background-color: #fdc;
  border: 1px solid #ca9;
  padding: 0.5em;
}

.note-info {
  background-color: #dfc;
  border: 1px solid #ac9;
  padding: 0.5em;
}

#top-msg {
  margin-bottom: 2em;
}

#action-button-row {
  margin-bottom: 0.5em;
}

.action-button {
  .button(#fff, #ddd);
  border-radius: 2px;
  margin-right: 0.3em;
  padding: 0.3em 1.2em;
}

#undo {
  color: #66c;  /* same as anchor color */
  cursor: pointer;
  display: none;
  font-weight: bold;
  text-decoration: none;
}
#undo:hover {
  text-decoration: underline;
}

#payments-table {
  width: 100%;
}

.highlight {
  background-color: #ffc !important;  /* override is-paid background */
}

#payments-table td, #payments-table th {
  font-size: 0.9em;
  height: 2em;
  padding-left: 1.4em;
  vertical-align: middle;
}

#payments-table th {
  text-align: left;
}

#payments-table td {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#payments-table #no-requests-msg {
  font-size: 1em;
  height: 5em;
  padding-left: 0;
  text-align: center;
}

#payments-table .is-paid {
  background-color: #eee;
}

#payments-table .cell-checkbox {
  padding-left: 0.5em;
  width: 4%;
}

#payments-table .cell-email {
  padding-left: 0;
  width: 22%;
}

#payments-table .cell-amount {
  text-align: right;
  width: 12%;
}

#payments-table .cell-description {
  width: 28%;
}

#payments-table .cell-status {
  width: 20%;
}

#payments-table .cell-creation-date {
  padding-right: 0.5em;
  text-align: right;
  width: 14%;
}

/* TODO(sadovsky): Use LESS to revert to standard text style. */
a.pay-url-link {
  color: #333;
  font-weight: normal;
  text-decoration: none;
}
a.pay-url-link:hover {
  text-decoration: none;
}
