/**
 * Copyright 2012 Adam Sadovsky. All rights reserved.
 */

* {
  box-sizing: border-box;
}

#css_logo {
  background-color: #448;
  color: #fff;
  display: inline-block;
  font-family: alice, serif;
  font-size: 60px;
  line-height: 1em;
}

#css_logo_small {
  background-color: #448;
  color: #fff;
  display: inline-block;
  font-family: alice, serif;
  font-size: 40px;
  line-height: 1em;
}
