<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{if .Title}}{{.Title}} - {{end}}Tadue</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Lato:300">
    <link rel="stylesheet/less" href="/css/common.less">
    <link rel="stylesheet/less" href="/css/form.less">
    {{.Css}}
    <script src="/third_party/less.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-32357997-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div id="top-nav" class="clearfix">
      <div class="container">
        <a id="top-nav-logo" href="/">tadue</a>
        <ul id="top-nav-links" class="menu">
          <li><a href="/request-payment">Request payment</a></li>
          {{if .FullName}}
          <li>
            <a href="/payments">{{.FullName}}</a>
            <ul class="menu">
              <li><a href="/payments">Payments</a></li>
              <li><a href="/settings">Settings</a></li>
              <li><a href="/logout">Log out</a></li>
            </ul>
          </li>
          {{else}}
          <li><a href="/signup">Sign up</a></li>
          <li><a href="/login">Log in</a></li>
          {{end}}
        </ul>
      </div>
    </div>
    <div id="body" class="clearfix">
      <div class="container">
        {{if .Message}}
        <div id="message"><div id="close-message"></div>{{.Message}}</div>
        {{end}}
        {{if .Title}}<div id="title">{{.Title}}</div>{{end}}
        {{.Body}}
      </div>
    </div>
    <div id="bottom-nav" class="clearfix">
      <div class="container">
        <div id="bottom-nav-content">
          <ul id="bottom-nav-links" class="menu">
            <li><a href="/about">About</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/terms">Terms</a></li>
            <li><a href="/help">Help</a></li>
          </ul>
          <div id="bottom-nav-copyright">Tadue &copy; 2014</div>
        </div>
      </div>
    </div>
    <script src="/third_party/jquery.min.js"></script>
    <script src="/third_party/closure-library/closure/goog/base.js"></script>
    <script src="/js/deps.js"></script>
    <script src="/js/base.js"></script>
    {{/* TADUE_JS */}}
    <script>tadue.base.init();</script>
    {{.Js}}
  </body>
</html>
