<!DOCTYPE html>
<html>
  <head>
    <title>{{if .Data.Title}}{{.Data.Title}} - {{end}}Tadue</title>
    <link type="text/css" rel="stylesheet" href="/css/common.css">
    {{.Data.Css}}
    <!--TODO(sadovsky): Uncomment.-->
    <!--<script type="text/javascript" src="/js/ga.js"></script>-->
  </head>
  <body>
    <div id="top-nav">
      <div id="top-nav-content">
        <a id="top-nav-logo" href="/"></a>
        <ul id="top-nav-links" class="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/request-payment">Request payment</a></li>
          {{if .FullName}}
          <li>
            <a href="/payments">{{.FullName}}</a>
            <ul class="menu">
              <li><a href="/payments">Payments</a></li>
              <li><a href="/settings">Settings</a></li>
              <li><a href="/logout">Log out</a></li>
            </ul>
          </li>
          {{else}}
          <li><a href="/signup">Sign up</a></li>
          <li><a href="/login">Log in</a></li>
          {{end}}
        </ul>
      </div>
    </div>
    {{if .Data.Title}}<div id="title">{{.Data.Title}}</div>{{end}}
    <div id="body">
      {{.Data.Body}}
    </div>
    <div id="bottom-nav-begin"></div>
    <div id="bottom-nav">
      <div id="bottom-nav-content">
        <ul id="bottom-nav-links" class="menu">
          <li><a href="/about">About</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/terms">Terms</a></li>
          <li><a href="/help">Help</a></li>
        </ul>
        <div id="bottom-nav-copyright">Tadue &copy; 2012</div>
      </div>
    </div>
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    {{.Data.Js}}
  </body>
</html>
