{{define "change-password-title"}}Change Password{{end}}

{{define "change-password-css"}}
<link rel="stylesheet/less" href="/less/form.less">
{{end}}

{{define "change-password-js"}}
<script src="/js/change-password.js"></script>
<script>tadue.changePassword.init();</script>
{{end}}

{{define "change-password-body"}}
<form action="/account/change-password" method="post"
      onsubmit="return tadue.changePassword.checkForm();">
  <table class="form">
    {{if .key}}<input type="hidden" name="key" value="{{.key}}" id="key">{{end}}
    {{if not .key}}
    <tr>
      <td class="col-label">Current password</td>
      <td class="col-input">
        <input type="password" class="field" name="current-password" id="current-password">
      </td>
      <td><span class="error-msg"></span></td>
    </tr>
    {{end}}
    <tr>
      <td class="col-label">New password</td>
      <td class="col-input">
        <input type="password" class="field" name="new-password" id="new-password">
      </td>
      <td><span class="error-msg"></span></td>
    </tr>
    <tr>
      <td class="col-label">Confirm password</td>
      <td class="col-input">
        <input type="password" class="field" id="confirm-password">
      </td>
      <td><span class="error-msg"></span></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" class="main-button" value="Save">
      </td>
    </tr>
  </table>
</form>
{{end}}
