{{define "change-password-title"}}Change Password{{end}}

{{define "change-password-css"}}
<link type="text/css" rel="stylesheet" href="/css/form.css">
{{end}}

{{define "change-password-js"}}
<script type="text/javascript" src="/js/form.js"></script>
<script type="text/javascript" src="/js/change-password.js"></script>
{{end}}

{{define "change-password-body"}}
<form action="/account/change-password" method="post" onsubmit="return checkForm();">
  <table class="form">
    {{if .Data.key}}<input type="hidden" name="key" value="{{.Data.key}}" id="key">{{end}}
    {{if not .Data.key}}
    <tr>
      <td class="field-name">Current password</td>
      <td class="field-value">
        <input type="password" class="field-input" name="current-password" id="current-password">
      </td>
      <td><span class="error-msg"></span></td>
    </tr>
    {{end}}
    <tr>
      <td class="field-name">New password</td>
      <td class="field-value">
        <input type="password" class="field-input" name="new-password" id="new-password">
      </td>
      <td><span class="error-msg"></span></td>
    </tr>
    <tr>
      <td class="field-name">Confirm password</td>
      <td class="field-value">
        <input type="password" class="field-input" id="confirm-password">
      </td>
      <td><span class="error-msg"></span></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" class="main-button" value="Save">
      </td>
      <td></td>
    </tr>
  </table>
</form>
{{end}}
