<p>Hello {{.payerEmail}},</p>
{{if .isReminder}}
<p>This is a reminder that {{.payeeFullName}} ({{.payeeEmail}}) requested {{.amount}} from you via Tadue.</p>
<p>Description: {{.description}}</p>
<p>This request was made on {{.creationDate}}.</p>
{{else}}
<p>{{.payeeFullName}} ({{.payeeEmail}}) has requested {{.amount}} from you via Tadue.</p>
<p>Description: {{.description}}</p>
{{end}}
<p>To make your payment, click on the link below (or copy and paste it into your browser):<br><a href="{{.payUrl}}">{{.payUrl}}</a></p>
<p>Thanks,<br>The Tadue Team</p>
