Hello {{.payerEmail}},
<br><br>
{{if .isReminder}}
This is a reminder that {{.payeeFullName}} ({{.payeeEmail}}) requested ${{.amount}} from you via Tadue.
<br><br>
Description: {{.description}}
<br><br>
This request was made on {{.creationDate}}.
{{else}}
{{.payeeFullName}} ({{.payeeEmail}}) has requested ${{.amount}} from you via Tadue.
<br><br>
Description: {{.description}}
{{end}}
<br><br>
To make your payment, click on the link below (or copy and paste it into your browser):
<br><a href="{{.payUrl}}">{{.payUrl}}</a>
<br><br>
Thanks,<br>The Tadue Team
