{{define "login-title"}}Log In{{end}}

{{define "login-css"}}
<link type="text/css" rel="stylesheet" href="/css/form.css">
{{end}}

{{define "login-js"}}
<script type="text/javascript" src="/js/form.js"></script>
<script type="text/javascript" src="/js/login.js"></script>
{{end}}

{{define "login-table"}}
<tr>
  <td class="field-name">Email</td>
  <td class="field-value">
    <input type="text" class="field-input" name="login-email" id="login-email">
  </td>
  <td><span class="error-msg"></span></td>
</tr>
<tr>
  <td class="field-name">Password</td>
  <td class="field-value">
    <input type="password" class="field-input" name="login-password" id="login-password">
  </td>
  <td><span class="error-msg"></span></td>
</tr>
<tr>
  <td></td>
  <td class="subfield">
    <a href="/account/reset-password">Forgot your password?</a>
  </td>
  <td></td>
</tr>
{{end}}

{{define "login-body"}}
<form action="/login" method="post" onsubmit="return checkLoginForm();">
  <table class="form">
    {{template "login-table"}}
    <tr>
      <td></td>
      <td>
        <input type="submit" class="main-button" value="Submit">
      </td>
      <td></td>
    </tr>
  </table>
</form>
{{end}}
