{{define "pay-title"}}Payment Request{{end}}

{{define "pay-css"}}
<link type="text/css" rel="stylesheet/less" href="/less/pay.less">
{{end}}

{{define "pay-body"}}
<p>{{.payerEmail}}, you owe {{.payeeFullName}} ({{.payeeEmail}}) {{.amount}}.</p>
<p>Description: {{.description}}</p>
<p>If you've already paid through some other means, <a href="{{.markAsPaidUrl}}">click here</a> to mark the payment as complete.</p>
<div id="paypal-button">
  <a href="{{.payWithPayPalUrl}}">
    <img src="/static/pay_with_paypal.gif">
  </a>
</div>
<p>All transactions must comply with the <a href="https://cms.paypal.com/us/cgi-bin/?&cmd=_render-content&content_ID=ua/AcceptableUse_full">PayPal Acceptable Use Policy</a>.</p>
{{end}}
