{{define "pay-title"}}Payment Request{{end}}

{{define "pay-css"}}
<link type="text/css" rel="stylesheet" href="/css/pay.css">
{{end}}

{{define "pay-body"}}
<p>{{.Data.payerEmail}}, you owe {{.Data.payeeFullName}} ({{.Data.payeeEmail}}) {{.Data.amount}}.</p>
<p>Description: {{.Data.description}}</p>
<div id="paypal-button">
  <a href="{{.Data.payWithPayPalUrl}}">
    <img src="/static/pay_with_paypal.gif">
  </a>
</div>
<p>All transactions must comply with the <a href="https://cms.paypal.com/us/cgi-bin/?&cmd=_render-content&content_ID=ua/AcceptableUse_full">PayPal Acceptable Use Policy</a>.</p>
{{end}}
