{{define "payments-title"}}Payments{{end}}

{{define "payments-css"}}
<link rel="stylesheet/less" href="/css/payments.less">
{{end}}

{{define "payments-js"}}
<script src="/js/payments.js"></script>
<script>tadue.payments.init();</script>
{{end}}

{{define "payments-body"}}
<div id="top-msg">
  {{if .isNew}}
  <div class="note-info">
    Thanks for signing up!
    <br>Before you can send payment requests, you'll need to verify your email address.
    <br>A verification link has been sent to {{.user.Email}}.
  </div>
  {{else}}
  {{if not .user.EmailOk}}
  <div class="note-warning">
    Your email address ({{.user.Email}}) has not been verified.
    <br>If you have not received an email containing a verification link, <a href="/account/sendverif">click here</a> to request a new one.
  </div>
  {{end}}
  {{end}}
</div>
<div id="action-button-row">
  <input type="button" class="action-button" id="mark-as-paid" value="Mark as paid">
  <input type="button" class="action-button" id="send-reminder" value="Send reminder email">
  <input type="button" class="action-button" id="delete" value="Delete">
  <span id="undo">Undo</span>
</div>
{{template "payments-data" .}}
<p>Note: Tadue sends reminder emails automatically every {{.reminderFrequency}} days.</p>
{{end}}

{{define "payments-data"}}
<div id="payments-data">
  <input id="undoable-req-codes" type="hidden" value="{{.undoableReqCodes}}">
  <table id="payments-table">
    <tr>
      <th class="col-checkbox"><input type="checkbox" id="master-checkbox"></th>
      <th class="col-email">Email</th>
      <th class="col-amount">Amount</th>
      <th class="col-description">Description</th>
      <th class="col-status">Status</th>
      <th class="col-creation-date">Request date</th>
    </tr>
    {{if not .rendReqs}}
    <tr>
      <td id="no-requests-msg" colspan=100>
        No payment requests. <a href="/request-payment">Click here</a> to make one.
      </td>
    </tr>
    {{end}}
    {{range .rendReqs}}
    <tr class="{{if .IsPaid}}paid{{else}}unpaid{{end}}">
      <input class="row-req-code" type="hidden" value="{{.ReqCode}}">
      <td class="row-pay-url display-none">{{.PayUrl}}</td>
      <td class="col-checkbox"><input type="checkbox" class="checkbox"></td>
      <td class="col-email" title="{{.PayerEmail}}">{{.PayerEmail}}</td>
      <td class="col-amount">{{.Amount}}</td>
      <td class="col-description" title="{{.Description}}">{{.Description}}</td>
      <td class="col-status">{{.Status}}</td>
      <td class="col-creation-date">{{.CreationDate}}</td>
    </tr>
    {{end}}
  </table>
</div>
{{end}}
