{{define "request-payment-title"}}Request Payment{{end}}

{{define "request-payment-css"}}
<link type="text/css" rel="stylesheet/less" href="/less/request-payment.less">
{{end}}

{{define "request-payment-js"}}
<script src="/js/request-payment.js"></script>
<script>tadue.requestPayment.init();</script>
{{if .doInitAutoComplete}}
<script>tadue.requestPayment.initAutoComplete();</script>
{{end}}
{{end}}

{{define "request-payment-body"}}
{{if .loggedIn}}<div id="logged-in" class="display-none"></div>{{end}}
{{if .authCodeUrl}}
<p>
  <a href="{{.authCodeUrl}}" id="auth-code-url"
     onclick="tadue.requestPayment.openAuthCodeUrl(); return false;">Login with Google to enable autocomplete</a>
</p>
{{end}}
<form action="/request-payment" method="post" onsubmit="return tadue.requestPayment.checkForm();">
  <table class="form">
    <tr>
      <td colspan="10">
        <table class="form" id="payers">
          <tr>
            <td></td>
            <td>Payer's email</td>
            <td>Amount (USD)</td>
          </tr>
          <tr class="row-payer">
            <td class="col-add-remove">
              <div class="icon" id="add-payer" title="Add another payer"></div>
            </td>
            <td class="col-payer-email">
              <input type="text" class="field payer-email-field" name="payer-email-0">
            </td>
            <td class="col-amount">
              <input type="text" class="field amount-field" name="amount-0">
            </td>
            <td><span class="error-msg"></span></td>
          </tr>
          <tr id="row-total">
            <td></td>
            <td id="total-label">Total</td>
            <td class="col-amount">
              <input type="text" class="field" id="total-field" disabled="disabled">
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td class="col-label">Payment type</td>
      <td>
        <select name="payment-type">
          <option value="personal">Personal</option>
          <option value="goods">Goods</option>
          <option value="services">Services</option>
        </select>
      </td>
    </tr>
    <tr>
      <td class="col-label">Description</td>
      <td class="col-input">
        <input type="text" class="field" name="description" id="description">
      </td>
      <td><span class="error-msg"></span></td>
    </tr>
    <tr{{if .loggedIn}} class="display-none"{{end}}>
      <td colspan="10">
        <input type="hidden" name="do-signup" value="true" id="do-signup">
        <div id="account-box">
          <div id="new-user" class="tab active-tab">New user
          </div><div id="existing-user" class="tab">Existing user</div>
          <div id="outer-box">
            <div id="signup-box">
              <table class="form">
                {{template "signup-table"}}
              </table>
            </div>
            <div id="login-box">
              <table class="form">
                {{template "login-table"}}
              </table>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" class="main-button" value="Submit">
      </td>
    </tr>
  </table>
</form>
{{end}}
