{{define "reset-password-title"}}Reset Password{{end}}

{{define "reset-password-css"}}
<link type="text/css" rel="stylesheet" href="/css/form.css">
{{end}}

{{define "reset-password-js"}}
<script type="text/javascript" src="/js/form.js"></script>
<script type="text/javascript" src="/js/reset-password.js"></script>
{{end}}

{{define "reset-password-body"}}
<form action="/account/reset-password" method="post" onsubmit="return checkForm();">
  <table class="form">
    <tr>
      <td class="col-label">Email</td>
      <td class="col-input">
        <input type="text" class="field" name="email" id="email">
      </td>
      <td><span class="error-msg"></span></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" class="main-button" value="Submit">
      </td>
    </tr>
  </table>
</form>
{{end}}
