{{define "settings-title"}}Settings{{end}}

{{define "settings-css"}}
<link type="text/css" rel="stylesheet/less" href="/less/form.less">
{{end}}

{{define "settings-js"}}
<script type="text/javascript" src="/js/settings.js"></script>
<script type="text/javascript">tadue.settings.init();</script>
{{end}}

{{define "settings-body"}}
<form action="/settings" method="post" onsubmit="return tadue.settings.checkForm();">
  <table class="form">
    <tr>
      <td class="col-label">Email</td>
      <td class="col-input">{{.Data.email}}</td>
    </tr>
    <tr>
      <td class="col-label">Password</td>
      <td class="col-input">
        <a href="/account/change-password">Change password</a>
      </td>
    </tr>
    <tr>
      <td class="col-label">Full name</td>
      <td class="col-input">
        <input type="text" class="field" name="name" id="name" value="{{.Data.fullName}}">
      </td>
      <td><span class="error-msg"></span></td>
    </tr>
    <tr>
      <td class="col-label">PayPal email</td>
      <td class="col-input">
        <input type="text" class="field" name="paypal-email" id="paypal-email"
               value="{{.Data.payPalEmail}}">
      </td>
      <td><span class="error-msg"></span></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" class="main-button" id="save" value="Save" disabled="disabled">
        <input type="button" class="main-button-gray" id="cancel" value="Cancel"
               disabled="disabled">
      </td>
    </tr>
  </table>
</form>
{{end}}
