{{define "signup-title"}}Sign Up{{end}}

{{define "signup-css"}}
<link type="text/css" rel="stylesheet" href="/css/form.css">
{{end}}

{{define "signup-js"}}
<script type="text/javascript" src="/js/form.js"></script>
<script type="text/javascript" src="/js/signup.js"></script>
{{end}}

{{define "signup-table"}}
<tr>
  <td class="field-name">Full name</td>
  <td class="field-value">
    <input type="text" class="field-input" name="signup-name" id="signup-name">
  </td>
  <td><span class="error-msg"></span></td>
</tr>
<tr>
  <td class="field-name">Email</td>
  <td class="field-value">
    <input type="text" class="field-input" name="signup-email" id="signup-email">
  </td>
  <td><span class="error-msg"></span></td>
</tr>
<tr>
  <td class="field-name">PayPal email</td>
  <td class="field-value">
    <input type="text" class="field-input" name="signup-paypal-email" id="signup-paypal-email">
  </td>
  <td><span class="error-msg"></span></td>
</tr>
<tr>
  <td></td>
  <td class="subfield" id="copy-email-cell">
    <input type="checkbox" name="signup-copy-email" id="signup-copy-email">
    <label for="signup-copy-email">Same as primary email</label>
  </td>
</tr>
<tr>
  <td class="field-name">New password</td>
  <td class="field-value">
    <input type="password" class="field-input" name="signup-password" id="signup-password">
  </td>
  <td><span class="error-msg"></span></td>
</tr>
<tr>
  <td class="field-name">Confirm password</td>
  <td class="field-value">
    <input type="password" class="field-input" id="signup-confirm-password">
  </td>
  <td><span class="error-msg"></span></td>
</tr>
{{end}}

{{define "signup-body"}}
<form action="#" method="post" onsubmit="return checkSignupForm();">
  <table class="form">
    {{template "signup-table"}}
    <tr>
      <td></td>
      <td>
        <input type="submit" class="main-button" value="Submit">
      </td>
    </tr>
  </table>
</form>
{{end}}
