{{define "signup-title"}}Sign Up{{end}}

{{define "signup-js"}}
<script src="/js/signup.js"></script>
<script>tadue.signup.init();</script>
{{end}}

{{define "signup-table"}}
<tr>
  <td class="col-label">Full name</td>
  <td class="col-input">
    <input type="text" class="field" name="signup-name" id="signup-name">
  </td>
  <td><span class="error-msg"></span></td>
</tr>
<tr>
  <td class="col-label">Email</td>
  <td class="col-input">
    <input type="text" class="field" name="signup-email" id="signup-email">
  </td>
  <td><span class="error-msg"></span></td>
</tr>
<tr>
  <td class="col-label">PayPal email</td>
  <td class="col-input">
    <input type="text" class="field" name="signup-paypal-email" id="signup-paypal-email">
  </td>
  <td><span class="error-msg"></span></td>
</tr>
<tr>
  <td></td>
  <td class="footnote" id="cell-copy-email">
    <input type="checkbox" name="signup-copy-email" id="signup-copy-email">
    <label for="signup-copy-email">Same as primary email</label>
  </td>
</tr>
<tr>
  <td class="col-label">New password</td>
  <td class="col-input">
    <input type="password" class="field" name="signup-password" id="signup-password">
  </td>
  <td><span class="error-msg"></span></td>
</tr>
<tr>
  <td class="col-label">Confirm password</td>
  <td class="col-input">
    <input type="password" class="field" id="signup-confirm-password">
  </td>
  <td><span class="error-msg"></span></td>
</tr>
{{end}}

{{define "signup-body"}}
<form action="#" method="post" onsubmit="return tadue.signup.checkForm();">
  <table class="form">
    {{template "signup-table"}}
    <tr>
      <td></td>
      <td>
        <input type="submit" class="main-button" value="Submit">
      </td>
    </tr>
  </table>
</form>
{{end}}
